---
title: Simplify Devops
description: "This page showcases how devops can be simpified with GitLab."
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
  - simplify-devops.css
extra_js:
  - simplify-devops.js
---
.hero-video-container#hero-video-container
  %iframe#hero-video{ src: "", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "1" }

.wrapper.gitlab-ee-page
  .blank-header
    %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
    %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
    .header-content
      %h1 Simplify Your DevOps Tools
      %p.text-center
        Don’t make your DevOps teams live in chaos.
        %br/
        Get GitLab, the only single application for the entire
        %br/
        DevOps lifecycle.
      .flex-container.buttons-container.margin-top20
        %a.btn.cta-btn.orange{ href: "/demo" } Watch a demo

  .sub-wrapper
    .container
      .row.video-gitlab-explained-container
        .col-xs-12.col-md-6.text-center
          .video-thumb-container{ "data-videourl" => "https://www.youtube.com/embed/w6X4Ha1oC6I?autoplay=1&rel=0" }
            %img.video-thumb{ src: "/images/simplify-devops/burger-thumb.jpg", alt: "Gitlab promo video thumb jpb" }
            .video-play-container
              = partial "includes/icons/simplify-devops/video-thumb-play.svg"

        .col-xs-12.col-md-6.text-center
          .video-thumb-container
            %img.video-thumb{ src: "/images/simplify-devops/guitar-placeholder-thumb.jpg", alt: "Gitlab video thumb png" }
            .video-play-container
              %h5.coming-soon.uppercase coming soon

      .row.simplified-devops-container
        %a.showcase-container{ href: "/2019/02/14/verizon-customer-story/" }
          %h5.capitalize verizon connect
          %img.showcase-icon{ src: "/images/simplify-devops/gitlab-rocket.svg" }
          %h1.uppercase 90x
          %h5.uppercase faster deploys
        %a.showcase-container{ href: "/2017/06/07/continous-integration-ticketmaster/" }
          %h5.capitalize ticketmaster
          %img.showcase-icon{ src: "/images/simplify-devops/gitlab-pipeline.svg" }
          %h1.uppercase 15x
          %h5.uppercase faster builds
        %a.showcase-container{ href: "/customers/paessler/" }
          %h5.capitalize paessler AG
          %img.showcase-icon{ src: "/images/simplify-devops/scale-up.svg" }
          %h1.uppercase 120x
          %h5.uppercase increased QA efficiency
        %a.showcase-container{ href: "/customers/goldman-sachs/"}
          %h5.capitalize goldman sachs
          %img.showcase-icon{ src: "/images/simplify-devops/build.svg" }
          %h1.uppercase 500x
          %h5.uppercase more builds per day

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 DevOps tools, simplified
          %p
            Toolchain complexity slows down teams. From planning to monitoring, GitLab covers every stage of software development lifecycle without requiring messy integrations to connect systems.
          %a.btn.cta-btn.accent.margin-top20{ href: "/stages-devops-lifecycle" } Learn more
        .hidden-xs.hidden-sm.col-md-4
          %img{alt: "DevOps Loop Purple", src: "/images/simplify-devops/devops-loop-purple.svg", style: "margin-top: 80px;"}/

  .container-full.burger-row-container
    .container
      .row
        .col-xs-12.col-md-6.col-md-offset-5
          .jumbotron
            %h2 Advantages of a single application
            %p Why waste time trying to assemble components that don’t work together? A single application for the entire DevOps lifecycle gives you a single setup, interface, data-store, codebase, and a single flow for all your teams to seamlessly work together.
            %a.btn.cta-btn.accent.margin-top20{ href: "/handbook/product/single-application" } Read more

  .sub-wrapper
    .container
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 A better DevOps experience
          %p
            With GitLab, you get the entire software development lifecycle out-of-the-box. See how GitLab stacks up against other DevOps tools.
          %a.btn.cta-btn.accent.margin-top20{ href: "/devops-tools" } Compare tools
        .hidden-xs.hidden-sm.col-md-4
          %img{ alt: "GitLab Out of The Box", src: "/images/simplify-devops/gitlab-out-of-the-box.svg", style: "margin-top: 50px;" }

  .gitlab-cta-container.text-center
    .container
      %h2.color-primary
        Choose the version of GitLab that is best for you
      %p
        Host GitLab on your servers or let us host it for you
      %a.btn.cta-btn.accent.margin-top20{ href: "/pricing" }
        Explore our plans

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}
